node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*expo-modules*
public-hoist-pattern[]=*expo-modules-autolinking*
public-hoist-pattern[]=*expo-modules-core*
public-hoist-pattern[]=*babel-preset-expo*
public-hoist-pattern[]=*react-native*
